{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="card">
    <h2>Сброс пароля</h2>

    {% if success %}
        <p style="color:#2e7d32; margin-bottom:15px;">
            Если такой email существует, ссылка для сброса пароля отправлена.
        </p>
    {% else %}
        <form method="post">
            {% csrf_token %}

            <input
                type="email"
                name="email"
                placeholder="Ваш email"
                required
                style="
                    color:#000;
                "
            >

            <button type="submit">
                Отправить ссылку
            </button>
        </form>
    {% endif %}

    <p style="margin-top:15px; text-align:center;">
        <a href="/">Вернуться ко входу</a>
    </p>
</div>
{% endblock %}
